
.carritos{
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
    padding-bottom: 5rem;
    visibility: hidden;
}
.carrito{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.5);
    max-width: 100%;
    width: 60%;
    height: 80%;
    padding: 1.6rem;
    border-radius: 8px;
    overflow-y: auto;
    transition: all 300ms ease-in-out;
    background-color: white;
    opacity: 0;
    visibility: hidden;
}
.carrito::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  .carrito::-webkit-scrollbar:vertical {
    width:10px;
  }
  
  .carrito::-webkit-scrollbar-button:increment, .carrito::-webkit-scrollbar-button {
    display: none;
  } 
  
  .carrito::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  .carrito::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
  }
  
  .all-comments-container::-webkit-scrollbar-track {
    border-radius: 10px;  
  }
@media (max-width: 1200px) {
    .carrito {
        width: 80%;
    }
}
@media (max-width: 450px) {
    .carrito {
        width: 90%;
    }
}
.carrito h2{
    text-align: center;
    font-size: 2rem;
}
.carritos.show{
    visibility: visible;
}

.carrito.show{
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
    visibility: visible;
}
.carrito__close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2rem;
}
.carrito__close .closeModel{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transform: all 300ms ease-in-out;
}
.carrito__close .closeModel:hover {
    fill: crimson;
}
.carritoTitulo{
    background-color: #dc143cdf;
    padding: 1rem;
    color: #f0f8ff;
    text-shadow: 0 0 3px #1a202c;
    margin-top: .5rem;
    border-radius: .5rem;
}
.carritoVacio {
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 3rem; 
    height: 20vh;
    color: rgb(100, 100, 100);
    text-shadow: 1px 1px 2px rgb(187, 187, 187);
}
.carrito__center{
    width: 98%;
    margin: 0 auto;
}
.carrito__item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 80%;
    margin: 2rem auto;
    box-shadow: 1px 1px 3px gray;
    border-radius: .5rem;
}
.carrito__item div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.carrito__item img{
    height: 15rem;
    margin: 1rem auto;
}
.carrito__item h3{
    margin-top: 1.5rem;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}
.carrito__item .price{
    color: #1a202c;
    font-size: 2rem;
    font-weight: bold;
    text-align: start;
}
.carrito__item .removeSvg{
    fill: #dc143c;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.carrito__item .arrowStyle {
    width: 1.8rem;
    height: 1.8rem;
    color: #f1365b;
    cursor: pointer;
}
.carrito__item .arrowButton {
    border: none;
    outline: none;
}
.carrito__item .cantidad{
    font-size: 2rem;
    font-weight: bold;
}
.carrito__item .remove__item .removeSvg{
    width: 2rem;
    fill:  #dc143c;
}
.carrito__footer{
    text-align: center;
    margin-bottom: 3rem;
}
.carrito__footer h3{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.carrito__footer .btn{
    display: inline-block;
    padding: .5rem 2rem;
    font-size: 1.8rem;
    box-shadow: 0 0 5px rgb(161, 161, 161);
    text-shadow: 0 0 3px rgb(161, 161, 161);
    background-color: crimson;
    color: white;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.carrito__footer .btn:hover{
    background-color: rgb(185, 7, 42);
    color: white;
}
/*--------------DETALLES --------------*/
h2{
    font-size: 3.5rem;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-family:Helvetica, sans-serif;
    color: #1a202c;
}
.price{
    font-size: 2.5rem;
    font-weight: 700;
    color: crimson;
}
.stock {
    font-size: 1.8rem;
    font-weight: 700;
    color: #dc143c;
}
