@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&family=Varela+Round&display=swap');

.cocktailsHeader {
    background-image: url('../components/assetsCocktails/cocktails.jpeg');
    width: 100vw;
    height: 50vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tittleCocktails {
  font-size: 10rem;
  font-family: Brandon Grotesque Black,helvetica,arial,sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.subtittleCocktails {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    font-family: Brandon Grotesque Black,helvetica,arial,sans-serif;
    color: #dc2626;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.mainCocktails {
  background-image: url('https://fondosmil.com/fondo/33460.jpg');
}

.cardsCocktails {
  font-family: "Tajawal", Arial;
}
.mainCards{
  display: flex;
  justify-content: center;
}
.loading{
  text-align: center;
  color: rgba(128, 128, 128, 0.76);
  margin-top: 1rem;
}