.mainCocktails {
  background-image: url("https://d1vcwv1mow27o.cloudfront.net/prod/v2.beefeatergin.com/101/static/images/stone_border_cropped.c4f76c8a.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: inline-block;
  }
.loading{
  text-align: center;
  color: rgba(128, 128, 128, 0.76);
  margin-top: 1rem;
}
.tittleCocktails {
  font-size: 8rem !important;
  font-family: Brandon Grotesque Black,helvetica,arial,sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.subtittleCocktails {
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
    font-family: Brandon Grotesque Black,helvetica,arial,sans-serif;
    color: #dc2626;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 2rem;
}
.cocktailsHeader {
  background-image: url('https://s3-eu-west-1.amazonaws.com/v2.beefeatergin.com/stage/Page/3939/hero/7/hero_1920x295.jpeg');
  width: 100vw;
  height: 40vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cocktailPadre {
  display: flex;
  flex-wrap: nowrap;
  display: inline-block !important;
  justify-content: center !important;
}
.card:hover {
background-color: rgba(255, 99, 71, 0.609);
text-decoration: none;
}
.linkCoctel:hover {
  text-decoration: none;
}