.cocktailsHeader {
  background-image: url("../components/assetsCocktails/cocktails.jpeg");
  width: 100vw;
  height: 50vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mainCocktails {
  background-image: url("https://d1vcwv1mow27o.cloudfront.net/prod/v2.beefeatergin.com/101/static/images/stone_border_cropped.c4f76c8a.jpg");
}
.nameCoktail {
  color: #dc2626 !important;
  font-weight: bold !important;
  margin-bottom: 1rem !important;
  text-transform: uppercase !important;
  font-size: large !important;
}
.contenedorRecetas {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.padreRecetas {
  display: inline-block !important;
  margin-right: 5rem;
}
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0rem;
  font-weight: bold;
  color: #dc2626;
  background-image: url("https://d1vcwv1mow27o.cloudfront.net/prod/v2.beefeatergin.com/101/static/images/Beefeater-PINK-Paper.96d6fdcf.jpg");
  height: 60vh;
  text-transform: uppercase;
  font-size: 2.7rem;
}
.textAlert {
  text-align: center;
}
button {
  background-color: #dc2626;
  color: aliceblue;
  border-radius: 1rem;
  padding: .5rem;
}
button:hover {
  text-decoration: none;
  color: black;
}
.linkCocktails:hover {
  text-decoration: none;
  color: black;
}
.linkCocktails {
  text-decoration: none;
}
