.coctelHeader {
  background-image: url("../components/assetsCocktails/cocktails.jpeg");
  width: 100vw;
  height: 40vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mainCoctel {
  background-image: url("https://d1vcwv1mow27o.cloudfront.net/prod/v2.beefeatergin.com/101/static/images/Beefeater-PINK-Paper.96d6fdcf.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: inline-block;
  }
.nameCoktail {
  color: #dc2626 !important;
  font-weight: bold !important;
  margin-bottom: 1rem !important;
  text-transform: uppercase !important;
  font-size: large !important;
}
.contenedorRecetas {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.padreRecetas {
  display: inline-block !important;
  margin-right: 5rem;
}
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0rem;
  font-weight: bold;
  color: #dc2626;
  
  height: 60vh;
  text-transform: uppercase;
  font-size: 2.7rem;
}
.textAlert {
  text-align: center;
}
button {
  background-color: #dc2626;
  color: rgb(0, 0, 0);
  border-radius: 1rem;
  padding: 1rem;
}
button:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.linkCocktails:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.linkCocktails {
  text-decoration: none;
}
.backCoctel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0rem;
  font-weight: bold;
  color: #dc2626;
  padding: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 2.7rem;
  border-color: black;
}
