/* .navtexto {
    /* font-size   : 10pt !important; */
    /* margin-left: .5rem !important;
    /* padding: .3rem .8rem;
    /* transition: .3s;
    /* font-weight: bold !important; */
/*}
.navtexto:hover {
    text-decoration: none !important;
    background-color: #fff;
    border-radius: .2rem;
    color: red !important;
} */
.user {
    width: 40px;
    height: 40px;
    border-radius: 3rem;
  }

/* .btn-menu {
    margin-right: 30px;
    font-size   : 30px;
    color       : #fff;
    cursor      : pointer;
    display     : none;
} */

/* CART */


/* .cart{
    position: relative;
    cursor: pointer;
}
.cart span{
    position: absolute;
    top: -1rem;
    right: -1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(235, 0, 47);
    padding: 0rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 50%;
    background-color: rgb(253, 253, 253);
} */
